# Book settings. Learn more at https://jupyterbook.org/customize/config.html
title: Materials Informatics Advanced Practical
author: the Materials Design Group
copyright: "2026"
logo: SMACT logo.png # logo in top-left corner
only_build_toc_files: true # whether to ignore the extra files
exclude_patterns:
  ["README.md", "LICENSE.md", "**_master.ipynb", "**/.ipynb_checkpoints/*"]

#######################################################################################
# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache # 'auto,' 'cache,' or 'force'
  timeout: 300 # max seconds for notebook to execute
  allow_errors: true # whether to allow and show errors

#######################################################################################
# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_edit_page_button: true # button for users to edit page and submit a PR.
  use_issues_button: true # button for users to submit a GitHub issue
  use_repository_button: true # button for users to look at the source code in GitHub repo
  favicon: "smact-favicon.png" # the icon in the browser tab
  baseurl: "" # The base URL where the book is hosted
  extra_footer: ""
  comments:
    hypothesis: false

#######################################################################################
# Launch button settings
launch_buttons:
  notebook_interface: classic # The interface interactive links will activate ["classic", "jupyterlab"]
  binderhub_url: "" # The URL of the BinderHub (e.g., https://mybinder.org)
  colab_url: "https://colab.research.google.com"
  thebe: false # Add a thebe button to pages (requires the repository to run on Binder)

# Information about where the book exists on the web
repository:
  url: https://github.com/ryannduma/materialsinformatics
  path_to_book: ""
  branch: master # source branch

#######################################################################################
# Parse and render settings
parse:
  myst_enable_extensions: # default extensions to enable in the myst parser
    - amsmath # LaTeX math
    - colon_fence # cleaner directives
    - dollarmath # in-line LaTeX
    - html_image # parse raw HTML image syntax
    - linkify # auto-detect HTML-like links
    - replacements # replace certain character sequences
    - smartquotes # transforms quotes and dashes
    - substitution # allows variable/dictionary substitution

  myst_url_schemes: [mailto, http, https] # URI schemes that will be recognised as external URLs in Markdown links

#######################################################################################
# Define the name of the latex output file for PDF builds
latex:
  latex_engine: pdflatex
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles: ["assets/files/references.bib"]
bibtex_reference_style: author_year # requires sphinxcontrib-bibtex 2.2.0

sphinx:
  config:
    html_theme_options:
      navigation_with_keys: false
    html_show_copyright: true
